<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content='{{block "meta" .}}{{end}}'>
  <meta name="keywords" content='{{block "keywords" .}}{{end}}'>
  <title>{{block "title" .}} A Saenuma Page {{end}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shorcut icon" type="image/png" href="/static/logo.png" />
  <link rel="stylesheet" type="text/css" href="/static/base.css?version=15" />

  {{block "styles" .}} {{end}}
</head>
<body>
  <div id="header">
    <div id="logo-div">
      <img src="/static/logo.png" alt="logo" >
    </div>
    <span id="company-name">Saenuma <br>Digital Ltd</span>
    <img src="/static/mobile-menu.png" id="menu" />
    <div id="top-nav">
      <a href="/">Programs</a>
      <a href="/books">Books</a>
      <a href="/games">Games</a>
      <a href="/blog/">Blog</a>
      <a href="/donate">Donate</a>
      <a href="/contact">Contact</a>
    </div>
  </div>
  <div style="clear: both; margin-bottom: 10px"></div>
  {{block "main" .}} {{end}}

  <div style="clear: both; margin-bottom: 20px"></div>

  <div id="footer">
    Made by Saenuma Digital Ltd. <a href="/about">About this site</a>
  </div>

  {{block "scripts" .}} {{end}}
</body>
</html>
